<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <title>API - Nasa</title>
  </head>
  <body>

<section class="video">
    <video width="100%" height="100%" id="video" autoplay loop muted>
      <source src="video/nasa.mp4" type="video/mp4">
      <source src="video/nasa.ogg" type="video/ogg">
    </video>
</section>

<div id="modal" class="modal">
    <div class="modal-content">

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>


<section class="thumb">
  <!-- <div class="row" id="photoMars">
      <div class="col s12 m12">
        <div class="preloader-wrapper big active" id="loader">
         <div class="spinner-layer spinner-blue-only">
           <div class="circle-clipper left">
             <div class="circle"></div>
           </div>
         </div>
       </div>
      </div>
      <div class="img"><ul></ul></div>
  </div> -->
  <div class="row" id="photoSearch">
      <div class="col s12 m12">
       <div class="imgResult">
         <ul></ul>
       </div>
      </div>
  </div>
</section>
